<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nume</th>
    <td mat-cell *matCellDef="let element">
      {{ element.first_name }} {{ element.last_name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="CNP">
    <th mat-header-cell *matHeaderCellDef>CNP</th>
    <td mat-cell *matCellDef="let element">{{ element.CNP }}</td>
  </ng-container>

  <ng-container matColumnDef="birth_date">
    <th mat-header-cell *matHeaderCellDef>Data nașterii</th>
    <td mat-cell *matCellDef="let element">
      {{ element.birth_date | date: "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="join_date">
    <th mat-header-cell *matHeaderCellDef>Data înscrierii</th>
    <td mat-cell *matCellDef="let element">
      {{ element.join_date | date: "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reduceri acordate</th>
    <td mat-cell *matCellDef="let element">{{ element.client_discount }}</td>
  </ng-container>

  <ng-containter matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acțiuni</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button>
        <mat-icon color="primary" (click)="launchEdit.emit(element)"
          >edit</mat-icon
        >
      </button>
      <button mat-icon-button>
        <mat-icon color="warn" (click)="launchDel.emit(element.id)"
          >delete</mat-icon
        >
      </button>
    </td>
  </ng-containter>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
</table>
