<h1 mat-dialog-title>Generare aleatorie</h1>

<div mat-dialog-content>
  <form [formGroup]="carGenerationForm">
    <mat-form-field aparence="fill">
      <mat-label>Numărul de entități</mat-label>
      <input formControlName="num" matInput placeholder="Ex. 5" />
      <mat-error *ngIf="num">Numărul trebuie sa fie pozitiv</mat-error>
    </mat-form-field>

    <br />
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="submit()" [disabled]="!carGenerationForm.valid">
    Generează
  </button>
  <button mat-button (click)="close()">Anulare</button>
</div>
